#body-id{
    background: rgba(196, 196, 196, 0.2);
}

#to-do-list{
    /* To-Do List */
    position: absolute;
    width: 229px;
    height: 53px;
    left: 20%;
    top: 65px;

    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 45px;
    line-height: 53px;
    /* identical to box height */
    color: #000000;
}

#to-do-list-div{
    position: absolute;
    left: 20%;
    top: 152px;
}

#text-field-top-box{
    position: relative;
    width: 924px;
    height: 52px;
}

#input-task{
    /* Text_Field_Top */
    position: relative;
    padding-left: 1%;
    width: 782px;
    height: 50px;
    border-bottom: 2px solid #5E78EB;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 5px 0 0 0;
    background: #FFFFFF;
    float: left;
    outline: none;
    font-size: 17px;
}

#add-task-button{
    /* Text Field Button */
    position: relative;
    float: right;
    width: 130px;
    height: 54px;
    background: #5E78EB;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: none;
}

#button_arrow{
    position: relative;
    width: 17px;
    height: 15px;
    background-image: url("https://files.dp.ua/ru/i/f35f71b69154572b602a36ded3d5e04b/635310ce79b233a1408aa6c9af1db997");
    left: 43%;
    top: 2%;
}

.task-list-container{
    position: relative;
    display: flex;
    width: 922px;
    height: 202px;
    border: 1px solid rgba(49, 41, 62, 0.05);
    align-items: flex-start;
    flex-direction: column;
    list-style-type: none;
    border-radius: 5px;
    margin-top: 2.1%;
    padding: 0;
}

ul li{
    position: relative;
    width: 99%;
    height: 46px;
    background: #FFFFFF;
    border-radius: 8px;
    margin-top: 1%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    min-height: 46px;

}

.task{
    position: relative;
    top: 27%;
    left: 3%;
    font-family: 'Bitter', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #000000;

}

.delete-btn{
    position: relative;
    float: left;
    height: 100%;
    width: 35px;
    background: rgba(10, 2, 36, 0.1);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border: none;
}

.delete-x{
    position: relative;
    width: 15px;
    height: 15px;
    top: 0;
    left: 23%;
    background-image: url("https://files.dp.ua/ru/i/f35f71b69154572b602a36ded3d5e04b/6e81a053d831eaf55b27099adce123c0");
}

.task-checkbox{
    position: relative;
    float: right;
    right: 5.3%;
    top: 27%;

}
.toggle>input{
    z-index: 1;
    opacity: 0;
    user-select: none;
}

.toggle>span::before{
    content: '';
    background-image: url("https://files.dp.ua/ru/i/f35f71b69154572b602a36ded3d5e04b/aecbcb54f5e873fab28f57ad22641cff");
    width: 20px;
    height: 20px;
    position: relative;
    float: right;
    right: 3%;
    top: 30%;
    user-select: none;
}

.toggle>input[type=checkbox]:checked+span::before{
    background-image: url("https://files.dp.ua/ru/i/f35f71b69154572b602a36ded3d5e04b/0d4f7a2c6f03f16b98b08028c0fbbaa3");
}

ul li:hover{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.03));
}

.task-list.checked::before{
    opacity: 1;
    content: '';
    transition: all 0.3s ease-out;

}

.task-list.checked{
    opacity: 0.3;
    text-decoration: line-through;
    transition: all 0.3s ease-out;
}

#add-task-button:hover{
    background: #6060eb;
}

.delete-btn:hover{
    background: #d8d6db;
}

.task.checked::before{
    opacity: 1;
    content: '';
    transition: all 0.3s ease-out;
}

.task.checked{
    opacity: 0.3;
    text-decoration: line-through;
    transition: all 0.3s ease-out;
}

#clear-button-container{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-self: center;
}
.clear-button-container{
    position: relative;
    text-align: center;
    padding: 1%;
    width: 15%;
    border: 1px solid #FA3E62;
    border-radius: 5px;
    transition: all 0.1s ease-out;
    bottom: 10%;

}

.clear-button-container:hover{
    background: #FA3E62;
    transition: all 0.1s ease-out;
}

.clear-button-container:hover > #clear-button{
    color: white;
    transition: all 0.1s ease-out;
}

.clear-button{
    border: none;
    background: none;
    font-size: 14px;
    transition: all 0.1s ease-out;
}
